// log worksouts page
// workoutID, workout name, duration, , exercises
<section class="card">
    <h2> Log Your Workout</h2>
    <form id="workout-form">
        <div class="mb-3">
            <div class = "col">
                <label>Date
                    <input type="date" id="workout-date" class="form-control" required>
                </label>
            </div>
        </div class = "mb-3">
        <label> Duration (minutes):
            <input type="number" id="workout-duration" class="form-control" required>
        </label>
        </div>
/* <!-- Exercise List --> */
        <h3>Exercises (you must add at least one)</h3>
        <div id="exercise-list"></div>
    
        <button type="button" id="add-exercise-btn">Add Exercise</button>
        <button type="submit">Save Workout</button>
        </form>
    </section>

    <section class = "card">
        <h2> insert workout name & duration, </h2>
        <form id="logWorkout">
            <div class="mb-3">
                <label for="routine_name" class="form-label
">Workout Name</label>
                <input type="text" class="form-control" id="routine_name" name="routine_name" required>
            </div>
            <div class="mb-3">
                <label for="duration_minutes" class="form-label">Duration (minutes)</label>
                <input type="number" class="form-control" id="duration_minutes" name="duration_minutes" required>
            </div>
            <button type="submit" class="btn btn-primary">Log Workout</button>
        </form>
    </section>