<%- include("partials/header.ejs") %>

    <body>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"> Fitness Tracker</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Search Quotes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/user">User</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <h1 class="text-center mb-5"> User Panel</h1>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="card admin-card">
                        <div class="card-body">
                            <i class="bi bi-person-circle"></i>
                            <h3>Manage User Progress</h3>
                            <p>ADD, EDIT, or DELETE INSERT INTO userProgress  chestDiameter, armDiameter, shoulderDiameter, legDiameter, hipDiameter from the database</p>
                            <a href="/user/progress" class="btn btn-primary btn-lg">Manage User Progress</a>
                        </div>
                    </div>
                </div>


                <%- include("partials/footer.ejs") %>
    </body>

</html>